Repository SHARE-PLATE/backend, pull requests merged in 2022-09, with the labels that each got.

#109 활동 마감 알림 기능 구현
  build.gradle
  src/main/java/louie/hanse/shareplate/SharePlateApplication.java
  src/main/java/louie/hanse/shareplate/domain/ActivityNotification.java
  src/main/java/louie/hanse/shareplate/domain/Entry.java
  src/main/java/louie/hanse/shareplate/repository/EntryRepository.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/resources/templates/socket-test.html
Labels: feature, Louie

#115 엔티티 추가 설계 및 수정
  src/main/java/louie/hanse/shareplate/domain/ChatRoom.java
  src/main/java/louie/hanse/shareplate/domain/Hashtag.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/type/ChatRoomType.java
  src/main/resources/data.sql
Labels: feature, refactor, Louie, Hanse

#117 추가 필드에 따른 API 수정
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/converter/StringToChatRoomTypeConverter.java
  src/main/java/louie/hanse/shareplate/domain/Hashtag.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomRepository.java
  src/main/java/louie/hanse/shareplate/repository/HashtagRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/type/ChatRoomType.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareEditRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: refactor, Louie, Hanse

#120 refactor : 쉐어 엔티티와 관련 API에 장소, 가격 협의 필드 추가
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareEditRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: refactor, Louie

#122 Spring Rest Docs 문서화 설정 중복 제거, 쉐어 마감 시간 필드 네이밍 변경
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/exception/type/EntryExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareCommonResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareEditRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareSearchResponse.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/ChatRoomMemberIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/InitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/KeywordIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/MemberIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/WishIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/login/LoginIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishIntegrationTest.java
Labels: refactor, Louie, Hanse

#124 검증 관련 예외 설정 추가
  src/main/java/louie/hanse/shareplate/exception/handler/GlobalExceptionHandler.java
  src/main/java/louie/hanse/shareplate/exception/type/MemberExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
Labels: feature, Louie, Hanse

#127 1:1 채팅방 생성 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/domain/ChatRoom.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryIntegrationTest.java
Labels: feature, Louie, Hanse

#128 키워드 조회 API 변경
  src/main/java/louie/hanse/shareplate/repository/CustomKeywordRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomKeywordRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/java/louie/hanse/shareplate/web/dto/keyword/KeywordDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/keyword/KeywordListResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/keyword/KeywordResponse.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
Labels: refactor, Louie

#130 쉐어 참가/참가 취소 관련 기능 실패케이스 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/exception/type/EntryExceptionType.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
Labels: feature, Hanse

#133 새로 작성된 채팅 내용 알림 기능 수정
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatSocketController.java
Labels: refactor, Louie, Hanse

#134 찜하기/찜하기 취소 실패케이스 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/exception/type/WishExceptionType.java
  src/main/java/louie/hanse/shareplate/service/WishService.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: feature, Hanse

#136 쉐어와 채팅방의 연관관계 수정, 테스트 실패 문제 해결
  src/main/java/louie/hanse/shareplate/domain/ChatRoom.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/repository/ChatRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/type/ChatRoomType.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomListResponse.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/login/LoginIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
Labels: fix, refactor, Louie

#138 쉐어 삭제 기능 실패케이스 구현
  src/main/java/louie/hanse/shareplate/exception/handler/GlobalExceptionHandler.java
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
  src/main/java/louie/hanse/shareplate/repository/ShareRepository.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
Labels: feature, Louie

#140 키워드 기능 관련 실패케이스 테스트 구현
  src/main/java/louie/hanse/shareplate/domain/Notification.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/exception/type/NotificationExceptionType.java
  src/main/java/louie/hanse/shareplate/repository/NotificationRepository.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/service/WishService.java
  src/main/java/louie/hanse/shareplate/web/controller/NotificationController.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/InitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteOnlyOneIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteSelectionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationReadIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: feature, Hanse

#142 입장, 찜, 알림 관련 유효하지 않은 id 음수처리 실패케이스 구현Feature 141
  src/main/java/louie/hanse/shareplate/exception/handler/GlobalExceptionHandler.java
  src/main/java/louie/hanse/shareplate/exception/type/NotificationExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/WishExceptionType.java
  src/main/java/louie/hanse/shareplate/web/controller/EntryController.java
  src/main/java/louie/hanse/shareplate/web/controller/NotificationController.java
  src/main/java/louie/hanse/shareplate/web/controller/WishController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteOnlyOneIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteSelectionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: feature, Hanse

#144 쉐어 등록 기능 실패케이스 구현
  src/main/java/louie/hanse/shareplate/exception/type/MemberExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
  src/main/java/louie/hanse/shareplate/validator/LatitudeValidator.java
  src/main/java/louie/hanse/shareplate/validator/LongitudeValidator.java
  src/main/java/louie/hanse/shareplate/validator/MultipartFileValidator.java
  src/main/java/louie/hanse/shareplate/validator/ValidLatitude.java
  src/main/java/louie/hanse/shareplate/validator/ValidLongitude.java
  src/main/java/louie/hanse/shareplate/validator/ValidShareImage.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTestUtils.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
Labels: feature, Louie

#146 쉐어 추천 API 수정
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareCommonResponse.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
Labels: refactor, Louie

#147 키워드 주소 삭제 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteLocationIntegrationTest.java
Labels: feature, Hanse

#150 키워드 주소 조회 기능
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordLocationSearchIntegrationTest.java
Labels: feature, Hanse

#151 내 쉐어 조회(쉐어 검색) API 실패케이스 구현, shareType 파라미터 선택값으로 변경
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/type/MineType.java
  src/main/java/louie/hanse/shareplate/type/ShareType.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareMineSearchRequest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareMineSearchIntegrationTest.java
Labels: feature, refactor, Louie

#154 쉐어 삭제 기능을 취소로 변경
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomListResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/SharePreviewResponse.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomIntegrationTest.java
Labels: feature, refactor, Louie, Hanse

#156 쉐어 편집 API 실패케이스 구현
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareEditRequest.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/share/ShareEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
Labels: feature, refactor, Louie

#158 회원의 쉐어 참여 리스트 조회 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/repository/EntryRepository.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/web/controller/EntryController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/entry/EntrySearchIntegrationTest.java
Labels: feature, Hanse

#160 키워드 주소 조회 수정
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/java/louie/hanse/shareplate/web/dto/keyword/KeywordLocationListResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordLocationSearchIntegrationTest.java
Labels: feature, Hanse

#162 참가한 모든 채팅방에 대한 회원 조회 API 구현
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomMemberService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomMemberController.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/utils/ShareIntegrationTestUtils.java
Labels: feature, refactor, Louie

#164 새로 작성된 채팅 내용 알림 API 수정
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatSocketController.java
  src/main/resources/templates/socket-test.html
Labels: fix, refactor, Louie

#166 참여, 찜 기능 관련 실패케이스 추가 및 키워드 주소 기능 로직 수정
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/service/WishService.java
  src/main/java/louie/hanse/shareplate/web/dto/keyword/KeywordLocationListResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/utils/EntryIntegrationTestUtils.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordLocationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: fix, Hanse

#168 쉐어 상세 조회 API 실패케이스 구현
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/resources/templates/socket-test.html
  src/test/java/louie/hanse/shareplate/integration/share/ShareDetailSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
Labels: feature, fix, Louie

#171 채팅방 나가기 관련 실패케이스 추가
  src/main/java/louie/hanse/shareplate/domain/Chat.java
  src/main/java/louie/hanse/shareplate/domain/ChatRoom.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/exception/type/ChatExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ChatRoomExceptionType.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomMemberService.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberChatRoomExitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberSearchIntegrationTest.java
Labels: feature, refactor, Hanse

#173 채팅방 조회 시 ChatRoomMember 엔티티의 id도 전송하도록 변경
  src/main/java/louie/hanse/shareplate/exception/type/ChatRoomExceptionType.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomMemberService.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomMemberController.java
  src/main/java/louie/hanse/shareplate/web/dto/chatRoomMember/ChatRoomMemberListResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomListResponse.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberSearchIntegrationTest.java
Labels: refactor, Louie

#174 키워드 등록 실패케이스 로직 및 테스트추가Feature 172
  src/main/java/louie/hanse/shareplate/exception/handler/GlobalExceptionHandler.java
  src/main/java/louie/hanse/shareplate/exception/type/KeywordExceptionType.java
  src/main/java/louie/hanse/shareplate/validator/keyword/KeywordLatitudeValidator.java
  src/main/java/louie/hanse/shareplate/validator/keyword/KeywordLongitudeValidator.java
  src/main/java/louie/hanse/shareplate/validator/keyword/ValidKeywordLatitude.java
  src/main/java/louie/hanse/shareplate/validator/keyword/ValidKeywordLongitude.java
  src/main/java/louie/hanse/shareplate/validator/share/MultipartFileValidator.java
  src/main/java/louie/hanse/shareplate/validator/share/ShareLatitudeValidator.java
  src/main/java/louie/hanse/shareplate/validator/share/ShareLongitudeValidator.java
  src/main/java/louie/hanse/shareplate/validator/share/ValidShareImage.java
  src/main/java/louie/hanse/shareplate/validator/share/ValidShareLatitude.java
  src/main/java/louie/hanse/shareplate/validator/share/ValidShareLongitude.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/java/louie/hanse/shareplate/web/dto/keyword/KeywordRegisterRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareEditRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordRegisterIntegrationTest.java
Labels: feature, Hanse

#175 쉐어 취소 시 해당 쉐어 참여자들에게 알림 전송, 쉐어에 대한 찜, 참여 모두 삭제하도록 변경
  src/main/java/louie/hanse/shareplate/domain/ActivityNotification.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/type/ActivityType.java
  src/main/java/louie/hanse/shareplate/web/controller/EntryController.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/notification/ActivityNotificationResponse.java
Labels: feature, Louie

#177 쉐어 검색 실패케이스 구현
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareSearchRequest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareSearchIntegrationTest.java
Labels: feature, Louie

#181 쉐어 추천 API 실패케이스 구현, 쉐어 검색 API 수정
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRecommendationRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareSearchRequest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRecommendationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareSearchIntegrationTest.java
Labels: feature, refactor, Louie

#183 키워드 조회/주소 조회 실패케이스 로직 및 테스트 구현
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordLocationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordSearchIntegrationTest.java
Labels: feature, Hanse

#186 키워드 주소 조회 실패케이스 구현
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteLocationIntegrationTest.java
Labels: feature, Hanse

#188 writerId 필드 추가
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/notification/ActivityNotificationResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/notification/KeywordNotificationResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/SharePreviewResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRecommendationResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareWriterResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteLocationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationSearchIntegrationTest.java
Labels: refactor, Hanse

#190 writerId 필드 추가 및 테스트 변경
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareDetailResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/share/ShareDetailSearchIntegrationTest.java
Labels: refactor, Hanse
