Repository SHARE-PLATE/backend, pull requests merged in 2022-08, with the labels that each got.

#16 사용자 정보 편집 기능 구현
  .github/workflows/gradle.yml
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/domain/Member.java
  src/main/java/louie/hanse/shareplate/interceptor/LoginInterceptor.java
  src/main/java/louie/hanse/shareplate/service/MemberService.java
  src/main/java/louie/hanse/shareplate/web/controller/MemberController.java
  src/main/java/louie/hanse/shareplate/web/dto/member/MemberChangeUserInfoRequest.java
  src/test/java/louie/hanse/shareplate/integration/MemberIntegrationTest.java
Labels: feature, Hanse

#20 feat : 사용자 정보 조회 기능 구현
  src/main/java/louie/hanse/shareplate/service/MemberService.java
  src/main/java/louie/hanse/shareplate/web/controller/MemberController.java
  src/main/java/louie/hanse/shareplate/web/dto/member/MemberChangeUserInfoRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/member/MemberUserInfoResponse.java
  src/test/java/louie/hanse/shareplate/integration/MemberIntegrationTest.java
  src/test/resources/data.sql
Labels: feature, Hanse

#23 쉐어 등록 기능 구현
  build.gradle
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/converter/StringToShareTypeConverter.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/domain/ShareImage.java
  src/main/java/louie/hanse/shareplate/repository/ShareRepository.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/type/ShareType.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/main/resources/application.yml
  src/main/resources/s3.yml
  src/test/java/louie/hanse/shareplate/config/S3MockConfig.java
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: feature, Louie

#31 API 실패 케이스를 특정 클래스에 모아서 관리하는 기능 구현
  src/main/java/louie/hanse/shareplate/exception/type/AuthExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/EntryExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/MemberExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
Labels: feature, Louie, Hanse

#33 init : CORS 설정
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
Labels: Louie, Hanse, init

#37 인터셉터 리팩토링
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/interceptor/LogoutInterceptor.java
  src/main/java/louie/hanse/shareplate/interceptor/ReissueAccessTokenInterceptor.java
  src/main/java/louie/hanse/shareplate/service/MemberService.java
  src/main/java/louie/hanse/shareplate/web/controller/LoginController.java
  src/main/java/louie/hanse/shareplate/web/dto/member/MemberChangeUserInfoRequest.java
  src/main/resources/static/docs/index.html
Labels: feature, Hanse

#39 예외처리 관련 Exception Handler 구현
  src/main/java/louie/hanse/shareplate/exception/GlobalException.java
  src/main/java/louie/hanse/shareplate/exception/handler/GlobalExceptionHandler.java
  src/main/java/louie/hanse/shareplate/exception/type/AuthExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/EntryExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/MemberExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
  src/main/java/louie/hanse/shareplate/web/dto/exception/GlobalExceptionResponse.java
Labels: feature, Louie, Hanse

#41 내 쉐어 조회 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/converter/StringToMineTypeConverter.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/repository/ShareRepository.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/type/MineType.java
  src/main/java/louie/hanse/shareplate/type/ShareType.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareMineSearchRequest.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: feature, Louie

#43 Interceptor GlobalException 적용
  src/main/java/louie/hanse/shareplate/exception/type/AuthExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/MemberExceptionType.java
  src/main/java/louie/hanse/shareplate/interceptor/LogoutInterceptor.java
  src/main/java/louie/hanse/shareplate/interceptor/MemberVerificationInterceptor.java
  src/main/java/louie/hanse/shareplate/interceptor/ReissueAccessTokenInterceptor.java
  src/main/java/louie/hanse/shareplate/service/LoginService.java
  src/main/java/louie/hanse/shareplate/service/MemberService.java
  src/main/java/louie/hanse/shareplate/web/controller/LoginController.java
  src/test/java/louie/hanse/shareplate/integration/LoginIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/MemberIntegrationTest.java
Labels: refactor, Hanse

#44 쉐어 상세보기 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/domain/Entry.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/repository/EntryRepository.java
  src/main/java/louie/hanse/shareplate/repository/ShareRepository.java
  src/main/java/louie/hanse/shareplate/repository/WishRepository.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareDetailResponse.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: feature, Louie

#46 쉐어 참여하기 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/domain/Entry.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/service/LoginService.java
  src/main/java/louie/hanse/shareplate/service/MemberService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/EntryController.java
  src/test/java/louie/hanse/shareplate/integration/EntryIntegrationTest.java
Labels: feature, Hanse

#49 참가 취소기능 구현하기
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/repository/EntryRepository.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/web/controller/EntryController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/EntryIntegrationTest.java
Labels: feature, Hanse

#52 쉐어 삭제 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: feature, Louie

#55 위시 취소 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/repository/WishRepository.java
  src/main/java/louie/hanse/shareplate/service/WishService.java
  src/main/java/louie/hanse/shareplate/web/controller/WishController.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/WishIntegrationTest.java
Labels: feature, Hanse

#57 사용자 위치 관련 필드 제거
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/domain/Member.java
  src/main/java/louie/hanse/shareplate/interceptor/MemberVerificationInterceptor.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/service/MemberService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/MemberController.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareSearchRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareSearchResponse.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/MemberIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: refactor, Louie

#59 채팅방 생성 및 입장 기능 구현
  src/main/java/louie/hanse/shareplate/domain/Chat.java
  src/main/java/louie/hanse/shareplate/domain/ChatRoom.java
  src/main/java/louie/hanse/shareplate/domain/ChatRoomMember.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
Labels: feature, Louie, Hanse

#63 참가한 채팅 저장 기능 구현
  build.gradle
  src/main/java/louie/hanse/shareplate/config/WebSocketConfig.java
  src/main/java/louie/hanse/shareplate/domain/Chat.java
  src/main/java/louie/hanse/shareplate/interceptor/MemberVerificationSocketInterceptor.java
  src/main/java/louie/hanse/shareplate/repository/ChatRepository.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatSocketController.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatSocketTestController.java
  src/main/resources/data.sql
  src/main/resources/templates/socket-test.html
Labels: feature, Louie, Hanse

#64 feat : 새로 작성된 채팅 알림 기능 구현
  src/main/java/louie/hanse/shareplate/domain/Chat.java
  src/main/java/louie/hanse/shareplate/interceptor/MemberVerificationSocketInterceptor.java
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatSocketController.java
  src/main/resources/templates/socket-test.html
Labels: feature, Louie, Hanse

#66 참가한 채팅방 상세 조회 기능 구현
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/domain/ChatRoom.java
  src/main/java/louie/hanse/shareplate/domain/Member.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomController.java
  src/main/java/louie/hanse/shareplate/web/dto/chat/ChatDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/SharePreviewResponse.java
Labels: feature, Louie, Hanse

#69 채팅방 상세 조회 시 추가 기능 구현
  src/main/java/louie/hanse/shareplate/domain/ChatLog.java
  src/main/java/louie/hanse/shareplate/repository/ChatLogRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
Labels: feature, Louie, Hanse

#73 채팅 읽은 시간 갱신 기능 구현
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/service/ChatLogService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatLogController.java
Labels: feature, Louie, Hanse

#74 안읽은 채팅 개수 조회 기능 구현
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/repository/ChatRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomChatRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomChatRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatController.java
  src/main/resources/data.sql
Labels: feature, Louie, Hanse

#76 특정 회원이 작성한 쉐어 조회 기능 구현
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/domain/Member.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareCommonResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareSearchResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareWriterResponse.java
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: feature, Louie

#79 feat 요구사항에 맞게 내 쉐어 기능 수정
  src/main/java/louie/hanse/shareplate/domain/ChatRoomMember.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/repository/ShareRepository.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareMineSearchRequest.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: feature, Louie

#81 채팅방 나가기 기능 구현
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomMemberService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomMemberController.java
  src/test/java/louie/hanse/shareplate/integration/ChatRoomMemberIntegrationTest.java
Labels: feature, Louie

#83 채팅방 리스트 조회 기능 구현하기
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/repository/ChatRepository.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomChatRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomChatRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatController.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomController.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomListResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareDetailResponse.java
Labels: feature, Hanse

#84 쉐어 상세 조회 시 찜하기 개수 추가
  src/main/java/louie/hanse/shareplate/domain/Share.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepository.java
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareDetailResponse.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: refactor, Louie

#88 알림 엔티티 구현하기
  src/main/java/louie/hanse/shareplate/domain/ActivityNotification.java
  src/main/java/louie/hanse/shareplate/domain/Notification.java
  src/main/java/louie/hanse/shareplate/type/ActivityType.java
  src/main/java/louie/hanse/shareplate/type/NotificationType.java
Labels: feature, Louie, Hanse

#89 키워드 등록 기능 구현
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/domain/Keyword.java
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/java/louie/hanse/shareplate/web/dto/keyword/KeywordRegisterRequest.java
  src/test/java/louie/hanse/shareplate/integration/KeywordIntegrationTest.java
Labels: feature, Louie

#91 키워드 삭제 기능 구현
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/KeywordIntegrationTest.java
Labels: feature, Louie

#93 키워드 조회 기능 구현
  src/main/java/louie/hanse/shareplate/domain/Keyword.java
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/KeywordService.java
  src/main/java/louie/hanse/shareplate/web/controller/KeywordController.java
  src/main/java/louie/hanse/shareplate/web/dto/keyword/KeywordResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareCommonResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/SharePreviewResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareSearchResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareWriterResponse.java
Labels: feature, Louie

#94 활동알림 목록 조회 기능 구현
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/domain/ActivityNotification.java
  src/main/java/louie/hanse/shareplate/domain/Notification.java
  src/main/java/louie/hanse/shareplate/repository/NotificationRepository.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/web/controller/NotificationController.java
  src/main/java/louie/hanse/shareplate/web/dto/chat/ChatDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomListResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/notification/ActivityNotificationResponse.java
  src/main/resources/data.sql
Labels: feature, Hanse

#101 알림 선택 삭제 기능 구현
  src/docs/asciidoc/index.adoc
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/web/controller/NotificationController.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/NotificationIntegrationTest.java
Labels: feature, Hanse

#103 키워드 알림 기능 구현
  src/main/java/louie/hanse/shareplate/domain/Keyword.java
  src/main/java/louie/hanse/shareplate/domain/Notification.java
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/ShareIntegrationTest.java
Labels: feature, Louie

#105 개발, 배포 환경에 따른 애플리케이션 설정 분리
  .github/workflows/gradle.yml
  src/main/resources/application-dev.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
Labels: Louie, init

#106 활동 알림 기능 구현
  src/main/java/louie/hanse/shareplate/domain/ActivityNotification.java
  src/main/java/louie/hanse/shareplate/repository/EntryRepository.java
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/web/controller/EntryController.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
Labels: feature, Hanse
