Repository SHARE-PLATE/backend, pull requests merged in 2022-11, with the labels that each got.

#252 CORS 문제 해결
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
  src/main/java/louie/hanse/shareplate/interceptor/LoginVerificationInterceptor.java
  src/main/java/louie/hanse/shareplate/interceptor/LogoutInterceptor.java
  src/main/java/louie/hanse/shareplate/interceptor/MemberVerificationInterceptor.java
  src/main/java/louie/hanse/shareplate/interceptor/ReissueAccessTokenInterceptor.java
Labels: fix, Louie

#256 잘못된 CORS 헤더 설정 수정
  src/main/java/louie/hanse/shareplate/config/WebConfig.java
Labels: bug, fix, Louie

#254 API 컨벤션에 따라 수정 및 index.adoc 생성
  build.gradle
  src/docs/asciidoc/chat-log/chatLog.adoc
  src/docs/asciidoc/chat/chat.adoc
  src/docs/asciidoc/chatroom-member/chatroomMember.adoc
  src/docs/asciidoc/chatroom/chatroom.adoc
  src/docs/asciidoc/entry/entry.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/keyword/keyword.adoc
  src/docs/asciidoc/member/member.adoc
  src/main/resources/static/docs/chat-log/chatLog.html
  src/main/resources/static/docs/chat/chat.html
  src/main/resources/static/docs/chatroom-member/chatroomMember.html
  src/main/resources/static/docs/chatroom/chatroom.html
  src/main/resources/static/docs/entry/entry.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/keyword/keyword.html
  src/main/resources/static/docs/login/login.html
  src/main/resources/static/docs/member/member.html
  src/main/resources/static/docs/notification/notification.html
  src/main/resources/static/docs/share/share.html
  src/main/resources/static/docs/wish/wish.html
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
Labels: feature, docs, Hanse

#259 GlobalExceptionHandler 중복 제거
  src/main/java/louie/hanse/shareplate/exception/handler/GlobalExceptionHandler.java
Labels: refactor, Louie, Hanse

#260 키워드 알림, 쉐어 검색 범위 반경 줄이기
  src/main/java/louie/hanse/shareplate/repository/CustomShareRepositoryImpl.java
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/resources/data.sql
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDetailSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRecommendationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareSearchIntegrationTest.java
Labels: refactor, Louie, Hanse

#262 문의 채팅방 생성 API에서 올바른 채팅방 id를 반환하도록 오류 수정
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
Labels: fix, Louie
