Repository SHARE-PLATE/backend, pull requests merged in 2022-10, with the labels that each got.

#193 웹소켓 통합 테스트 설정, 웹소켓 키워드 알림 통합 테스트 구현
  src/main/java/louie/hanse/shareplate/repository/KeywordRepository.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/dto/notification/KeywordNotificationResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/main/resources/data.sql
  src/test/java/louie/hanse/shareplate/integration/InitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/InitSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
Labels: feature, Louie, init

#197 특정 회원이 등록한 쉐어 조회 API 실패케이스 구현
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/InitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberChatRoomExitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntrySearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteLocationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordLocationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/login/LoginIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteOnlyOneIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteSelectionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareMineSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareWriterSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: feature, refactor, Louie

#199 특정 회원이 등록한 쉐어 조회 API 실패케이스 구현
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/InitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberChatRoomExitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntrySearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteLocationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordLocationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/login/LoginIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteOnlyOneIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteSelectionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareMineSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareWriterSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: feature, refactor, Louie

#202 GlobalExceptionHandler 리팩터링
  src/main/java/louie/hanse/shareplate/exception/handler/GlobalExceptionHandler.java
  src/main/resources/static/docs/index.html
Labels: refactor, Louie

#204 채팅방 상세 조회 실패케이스 작성
  src/main/java/louie/hanse/shareplate/exception/type/ChatRoomExceptionType.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomDetailIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomSearchIntegrationTest.java
Labels: feature, Hanse

#206 활동 알림 통합 테스트 구현
  src/main/java/louie/hanse/shareplate/repository/ShareRepository.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/dto/notification/ActivityNotificationResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/notification/KeywordNotificationResponse.java
  src/main/resources/static/docs/index.html
  src/main/resources/templates/socket-test.html
  src/test/java/louie/hanse/shareplate/integration/notification/ActivityEntryNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationSearchIntegrationTest.java
Labels: feature, refactor, Louie

#211 참여 취소 알림 통합 테스트 구현
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareEditRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareRegisterRequest.java
  src/main/resources/static/docs/index.html
  src/main/resources/templates/socket-test.html
  src/test/java/louie/hanse/shareplate/integration/notification/ActivityEntryNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/ActivityNotificationSocketIntegrationTest.java
Labels: feature, refactor, Louie

#216 채팅 읽은 시간 갱신 실패케이스 구현
  src/main/java/louie/hanse/shareplate/exception/type/ChatRoomExceptionType.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatLogService.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatLogController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatLog/ChatLogUpdateDateTimeIntegrationTest.java
Labels: feature, Hanse

#218 참가한 채팅방 나가기 실패케이스 구현
  src/main/java/louie/hanse/shareplate/exception/type/ChatRoomExceptionType.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatLogService.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomMemberService.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomMemberController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberChatRoomExitIntegrationTest.java
Labels: feature, Hanse

#220 채팅방 상세 조회 API 변경
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/web/dto/chat/ChatDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/chatroom/ChatRoomDetailResponse.java
  src/main/java/louie/hanse/shareplate/web/dto/share/SharePreviewResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomDetailIntegrationTest.java
Labels: refactor, Louie

#222 채팅방 상세 조회와 채팅 알림 시 shareWrittenByMe 필드의 값이 유효하지 않는 문제 해결
  src/main/java/louie/hanse/shareplate/web/dto/chat/ChatDetailResponse.java
  src/main/resources/templates/socket-test.html
Labels: fix, Louie

#224 채팅방 상세 조회 시 shareWrittenByMe 필드 값이 유효하지 않는 문제 해결
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
Labels: fix, Louie

#226 쉐어 참여 취소 API 누락된 실패 케이스와 채팅방까지 나가기 구현
  src/main/java/louie/hanse/shareplate/exception/type/EntryExceptionType.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
Labels: fix, Louie

#228 마감 시간이 한시간 미만으로 남은 경우 쉐어 수정 또는 취소가 불가능하도록 구현
  src/main/java/louie/hanse/shareplate/exception/type/ShareExceptionType.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomDetailIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareEditIntegrationTest.java
Labels: feature, fix, Louie

#232 build.gradle 정리
  build.gradle
Labels: docs, Louie, Hanse

#234 통합 테스트 메서드명 변경 및 Spring Rest Docs 관련 네이밍 통일화
  src/main/java/louie/hanse/shareplate/web/controller/OAuthController.java
  src/main/java/louie/hanse/shareplate/web/controller/WishController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chat/ChatUnreadCountIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatLog/ChatLogUpdateDateTimeIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomDetailIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomQuestionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberChatRoomExitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntrySearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteLocationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordLocationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/login/LoginIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/ActivityNotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/ActivityNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSocketIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteOnlyOneIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteSelectionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDetailSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareMineSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRecommendationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareWriterSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: docs, Louie, Hanse

#237 채팅방 상세 조회 기능 버그 수정
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
Labels: fix, Louie

#240 통합테스트 단일 맵 변경 및 테스트 오류 처리
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatLog/ChatLogUpdateDateTimeIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomDetailIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomQuestionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/utils/EntryIntegrationTestUtils.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteLocationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/ActivityNotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteOnlyOneIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteSelectionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareWriterSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: fix, refactor, Hanse

#241 회원 정보 편집 기능 PUT 메서드에서 PATCH 메서드로 변경, 쉐어 상세 조회 시 isWritter 필드 추가
  src/main/java/louie/hanse/shareplate/domain/Member.java
  src/main/java/louie/hanse/shareplate/service/MemberService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/validator/member/MemberImageValidator.java
  src/main/java/louie/hanse/shareplate/validator/member/ValidMemberImage.java
  src/main/java/louie/hanse/shareplate/web/controller/MemberController.java
  src/main/java/louie/hanse/shareplate/web/dto/member/MemberChangeUserInfoRequest.java
  src/main/java/louie/hanse/shareplate/web/dto/share/ShareDetailResponse.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/member/MemberEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDetailSearchIntegrationTest.java
Labels: refactor, Louie

#243 문의 채팅방 알림 생성 구현
  src/main/java/louie/hanse/shareplate/domain/ChatRoom.java
  src/main/java/louie/hanse/shareplate/repository/EntryRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/java/louie/hanse/shareplate/service/ChatService.java
  src/main/java/louie/hanse/shareplate/service/NotificationService.java
  src/main/java/louie/hanse/shareplate/type/ActivityType.java
  src/main/java/louie/hanse/shareplate/type/ChatRoomType.java
Labels: feature, Louie, Hanse

#245 쉐어 등록, 쉐어 참가 시 entryId 반환하도록 로직 추가
  src/main/java/louie/hanse/shareplate/service/EntryService.java
  src/main/java/louie/hanse/shareplate/service/ShareService.java
  src/main/java/louie/hanse/shareplate/web/controller/EntryController.java
  src/main/java/louie/hanse/shareplate/web/controller/ShareController.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberChatRoomExitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
Labels: feature, Louie, Hanse

#247 문의 채팅 중복 참여시 원래 있던 id값 반환하도록 로직 변경
  src/main/java/louie/hanse/shareplate/repository/ChatRoomMemberRepository.java
  src/main/java/louie/hanse/shareplate/repository/ChatRoomRepository.java
  src/main/java/louie/hanse/shareplate/service/ChatRoomService.java
  src/main/resources/static/docs/index.html
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomQuestionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberChatRoomExitIntegrationTest.java
Labels: feature, Hanse

#249 Spring Rest Docs 실패케이스 API 문서 작성
  src/docs/asciidoc/chat-log/chatLog.adoc
  src/docs/asciidoc/chat/chat.adoc
  src/docs/asciidoc/chatroom-member/chatroomMember.adoc
  src/docs/asciidoc/chatroom/chatroom.adoc
  src/docs/asciidoc/entry/entry.adoc
  src/docs/asciidoc/keyword/keyword.adoc
  src/docs/asciidoc/login/login.adoc
  src/docs/asciidoc/member/member.adoc
  src/docs/asciidoc/notification/notification.adoc
  src/docs/asciidoc/share/share.adoc
  src/docs/asciidoc/wish/wish.adoc
  src/main/java/louie/hanse/shareplate/exception/type/KeywordExceptionType.java
  src/main/java/louie/hanse/shareplate/exception/type/NotificationExceptionType.java
  src/main/java/louie/hanse/shareplate/web/controller/ChatRoomController.java
  src/main/resources/static/docs/chat-log/chatLog.html
  src/main/resources/static/docs/chat/chat.html
  src/main/resources/static/docs/chatroom-member/chatroomMember.html
  src/main/resources/static/docs/chatroom/chatroom.html
  src/main/resources/static/docs/entry/entry.html
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/keyword/keyword.html
  src/main/resources/static/docs/login/login.html
  src/main/resources/static/docs/member/member.html
  src/main/resources/static/docs/notification/notification.html
  src/main/resources/static/docs/share/share.html
  src/main/resources/static/docs/wish/wish.html
  src/test/java/louie/hanse/shareplate/integration/chat/ChatUnreadCountIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatLog/ChatLogUpdateDateTimeIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomDetailIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomQuestionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoom/ChatRoomSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberChatRoomExitIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/chatRoomMember/ChatRoomMemberSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntryJoinIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/entry/EntrySearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordDeleteLocationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordLocationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/keyword/KeywordSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/member/MemberSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/ActivityNotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/KeywordNotificationSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteOnlyOneIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/notification/NotificationDeleteSelectionIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDeleteIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareDetailSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareEditIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareMineSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRecommendationIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareRegisterIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/share/ShareWriterSearchIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishCancelIntegrationTest.java
  src/test/java/louie/hanse/shareplate/integration/wish/WishRegisterIntegrationTest.java
Labels: docs, Louie, Hanse
